[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
pylint = "*"
flask-cors = "*"
gunicorn = "*"
numpy = "*"

[requires]
python_version = "3.7"
