body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  /*
  position: fixed;
  top: 40%;
  left: 40%;
  */
}

ol, ul {
  list-style: none;
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.winning-square {
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;  
  background-image: linear-gradient(to right, rgba(0, 250, 0, 0), rgba(0, 255, 0, 1));
  cursor: pointer;
}

.draw-square {
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;  
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgba(0, 0, 255, 1));
  cursor: pointer;
}

.square:focus {
  outline: 0.5px inset blue;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  display: flex;
  flex-direction: column;
  height: 150px;
  margin: 0 20px;
}

.game-status {
  font-weight: bold;
  margin: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-open, .options {
  margin: 20px 0;
  width: 100px;
  padding: 3px 10px;
  height: relative;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(33, 187, 33);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.options {
  background-color: blue;
  margin: 2px 0;
  width: 100px;
}

.options-modal-open {
  background-color: blue;
}

.center-align {
  align-content: center;
  text-align: center;
  height: 50px;
  width: 100%;  
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.input {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;  
}

.input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .25rem;
  margin-top: 0.6rem;
}

.form-button, .modal-close{
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.modal-close{
  margin-left: 20px;
  background-color: red;
}

.form-button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

.form-button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.form {
  margin: 10px 20px;
  margin-right: 40px;
}

.input-feedback {
  color: red;
  margin-top: .25rem;
}